<!DOCTYPE html>
<html>
  <head>
    <script src="../bower_components/jquery/dist/jquery.js"> </script>
    <script type="application/javascript">
      if (typeof module === 'object' && typeof module.exports !== 'undefined') {
      window.$ = window.jQuery = module.exports;
      }
    </script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css"
          rel="stylesheet" type="text/css"/>
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"
          rel="stylesheet" type="text/css"/>
    <!-- ><link href="index.css" rel="stylesheet" type="text/css"/> -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
  </head>
  <body>
    <div ng-app="electronApp" ng-controller="myCtrl">
      <div class="container">
        <div class="row">
          <button type="button" class="close">x</button>
        </div>
        <div class="row">
            <button class="btn"
                    ng-click="openDevtools()">DevTools</button>
            <span type="button" class="btn btn-default btn-primary"
                  ng-click="openPreference()">Preference</span>
        </div>
        <h1>Local files</h1>
        <table class="table bordered striped">
          <tr ng-repeat="file in localFiles">
              <td>
                <div ng-if="file.isDirectory == false">
                  {{ file.name }}
                </div>
                <div ng-if="file.isDirectory == true">
                  <span ng-click="showDir(file)"> <i>{{ file.name }} </i></span>
                </div>
              </td>
              <td>
                <div ng-if="file.isDirectory == false">
                <span type="button" class="btn btn-link"
                      ng-click="uploadImage(file)">Upload</span>
                </div>
              </td>
          </tr>
        </table>
      </div>
    </div>
    <script src= "index.js"></script>
  </body>
</html>
