<!DOCTYPE html>
<html>
  <head>
    <script src="../bower_components/jquery/dist/jquery.js"> </script>
    <script type="application/javascript">
      if (typeof module === 'object' && typeof module.exports !== 'undefined') {
      window.$ = window.jQuery = module.exports;
      }
    </script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css"
          rel="stylesheet" type="text/css"/>
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"
          rel="stylesheet" type="text/css"/>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
  </head>
  <body>
    <div ng-app="electronApp" ng-controller="myCtrl">
      <div class="container">
        <div class="row">
          <button type="button" class="close">x</button>
        </div>
        <div class="row">
            <button class="btn"
                    ng-click="openDevtools()">DevTools</button>
            <span type="button" class="btn btn-default btn-primary"
                  ng-click="openPreference()">Preference</span>
            <span type="button" class="btn btn-default btn-primary"
                  ng-click="setTestValue('Test Param')">IPC request</span>
        </div>
        <h1>Demo communication</h1>
      </div>
    </div>
    <script src= "index.js"></script>
  </body>
</html>
